# Ignore virtual environments
venv/
.env/
.venv/

# Byte-compiled / cached
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# Virtual environment configuration
pip-log.txt
pip-delete-this-directory.txt

# Environment variables & secrets
.env
.envrc
*.secret
config.json

# IDE files
.vscode/
.idea/

# Weights
backend/weights/

# Models
backend/models/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/package-lock.json
frontend/yarn.lock
frontend/package.json
