# Ignore virtual environments
venv/
.env/
.venv/

# Byte-compiled / cached
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment configuration
pip-log.txt
pip-delete-this-directory.txt

# Environment variables & secrets
.env
.envrc
*.secret
config.json

# IDE files
.vscode/
.idea/

