.input-layer-config {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.input-layer-config label {
  margin-bottom: 15px;
  color: #2c3e50;
  padding: 10px 15px;
}
