body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #121212;
  color: #e0e0e0;
}

.App {
  width: 88%;
  height: 80%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

.architecture-table-container {  
  display: flex;
  width: auto;
  background-color: #FF6F00;
  color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(33.333% - 32px); 
}

.actions-summary-container {
  display: flex;
  width: auto;
  margin-top: 20px;
}

